.boxSize{
    height:350px;
    width: 400px;
    border-radius: 1px;
    outline-style: ridge;
}

/*Red ,Blue ,Purple ,Brown and Yellow*/

.red{
    background-color:red;
}

.blue{
    background-color: blue;
}

.purple{
    background-color:purple;
}

.brown{
    background-color: brown;
}

.yellow{
    background-color:yellow;
}